[mysqld]
user            = mysql
bind-address    = 0.0.0.0
port            = 3306
datadir         = /var/lib/mysql
socket          = /run/mysqld/mysqld.sock
pid-file        = /run/mysqld/mysqld.pid

# Logging
log_error       = /var/log/mysql/error.log

# Performance
skip-name-resolve